{% extends "core/base.html" %}
{% block title %}
  Visítanos
{% endblock title %}
{% block content %}

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">Te esperamos</span>
                <span class="section-heading-lower">Visítanos</span>
              </h2>
              <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                <li class="list-unstyled-item list-hours-item d-flex">
                  Lunes a viernes
                  <span class="ml-auto">7:00 a 20:00</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Sábados
                  <span class="ml-auto">9:00 a 17:00</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Domingos
                  <span class="ml-auto">Cerrado</span>
                </li>
              </ul>
              <p class="address mb-5">
                <em>
                  <strong>Avd. Infusiones nº 127</strong>
                  <br>
                  Barcelona
                </em>
              </p>
              <p class="mb-0">
                <small>
                  <em>Llámanos y pregunta</em>
                </small>
                <br>
                (317) 585-8468
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}

